:host {
  display: block;
  margin: 0;
  position: relative;
  touch-action: none;

  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: top;

    li {
      cursor: pointer;
      padding: 0.2rem;
      margin: 0;

      &.picked {
        color: #3880ff;
        font-size: 120%;
        padding: 0.5rem 0.2rem ;
      }

      &.empty {
        &:before {
          content: "empty";
          display: block;
          text-indent: -99999px;
        }
      }
    }
  }
}
